@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: PingFang, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.font-garamond {
  font-family: 'EB Garamond', serif;
}

.text-blue {
  color: #7BAEBE;
}

.text-gray-500 {
  color: #646464;
}

.text-gray-600 {
  color: #666666;
}

.text-gray-700 {
  color: #707070;
}

.box-shadow {
  -webkit-box-shadow: 0px 4px 8px #0000004B;
          box-shadow: 0px 4px 8px #0000004B;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 340px;
  }
}

footer {
  background-color: #A6CDE0;
  color: #FFFFFF;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

nav {
  padding: 31px 0;
  position: relative;
  z-index: 100;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

@media (max-width: 768px) {
  nav .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  nav .navbar-item {
    display: none;
  }
}

nav .navbar-item li {
  margin-left: 48px;
  font-size: 18px;
}

nav .navbar .menuBar {
  display: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 30px;
}

@media (max-width: 768px) {
  nav .navbar .menuBar {
    display: block;
  }
}

nav a {
  color: #FFFFFF;
}

nav .sm-navbar {
  position: absolute;
  top: -100000px;
  padding: 0;
  -webkit-transition: top 1s;
  transition: top 1s;
}

nav .sm-navbar button {
  background-color: transparent;
  color: #666666;
  font-size: 45px;
  margin-top: 12px;
  margin-left: 16px;
}

nav .sm-navbar-title {
  position: absolute;
  left: 50%;
  top: 84px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .sm-navbar-title::before, nav .sm-navbar-title::after {
  content: '';
  position: absolute;
  width: 37.35px;
  height: 37.35px;
}

nav .sm-navbar-title:before {
  border-radius: 50%;
  border: 1px solid #E8CB89;
  left: -20px;
  bottom: -10px;
  z-index: -2;
}

nav .sm-navbar-title::after {
  width: 20px;
  background: #FFFFFF;
  left: 0;
  bottom: -25px;
  z-index: -1;
}

nav .sm-navbar p {
  color: #7BAEBE;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 16px;
  width: 255px;
  text-align: center;
}

nav .sm-navbar ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
}

nav .sm-navbar li {
  margin-top: 64px;
}

nav .sm-navbar a {
  color: #666666;
}

@media (max-width: 768px) {
  nav .sm-navbar {
    width: 100%;
    height: 643px;
    background: #FFFFFF;
  }
}

nav .show-sm-navbar {
  top: 0;
}

nav .share-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

nav .share-btn-group img {
  padding: 0 6px;
}

select {
  background-color: #EBEBEB;
  color: #707070;
  font-size: 16px;
  border-radius: 15px;
  padding: 12px;
  margin-right: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@media (max-width: 768px) {
  select {
    margin: 0;
  }
}

.select {
  position: relative;
}

.select span {
  position: absolute;
  font-size: 35px;
  cursor: pointer;
}

.home select {
  width: 270px;
  height: 50px;
}

.home .select span {
  right: 16px;
  top: 8px;
}

@media (max-width: 768px) {
  .home .select span {
    right: 8px;
  }
}

@media (max-width: 768px) {
  .side-tour-search .select-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.side-tour-search select {
  width: 260px;
  height: 40px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .side-tour-search select {
    width: 316px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .side-tour-search select {
    width: 150px;
    height: 40px;
  }
}

.side-tour-search .select span {
  right: 4px;
  top: 4px;
}

@media (max-width: 768px) {
  .side-tour-search .select span {
    right: 8px;
  }
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/image/header.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.logo {
  width: 567px;
  height: 419px;
  background-image: url("../assets/image/taiwan-logo-white.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 110px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .logo {
    width: 567px;
    height: 419px;
  }
}

@media (max-width: 375px) {
  .logo {
    width: 298px;
    height: 213px;
  }
}

.area-search-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 768px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 609px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFFFFF;
  color: #707070;
  font-size: 16px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 8px #0000004B;
          box-shadow: 0px 4px 8px #0000004B;
}

@media (max-width: 768px) {
  .area-search-group {
    width: 302px;
    height: 206px;
  }
}

@media (max-width: 375px) {
  .area-search-group {
    width: 302px;
    height: 206px;
  }
}

@media (max-width: 768px) {
  .area-search-group {
    position: absolute;
    left: 50%;
    top: 660px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 375px) {
  .area-search-group {
    position: absolute;
    left: 50%;
    top: 410px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.search-btn {
  background-color: #E8CB89;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 15px;
  padding: 14px 34.5px;
  margin-left: 14px;
}

.search-btn:hover {
  background-color: #e0b85e;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .search-btn {
    margin: 0;
  }
}

header {
  background: #A6CDE0;
}

header .tour-header {
  width: 100%;
  height: 140px;
  background-image: url("../assets/image/scenicspot-header.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 18px;
}

.banner p {
  margin: 30px 0 35px;
  font-size: 22px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.side-tour-search .input-search {
  position: relative;
}

.side-tour-search .input-search input {
  width: 277px;
  height: 56px;
  background-color: #FFFFFF;
  color: #BFBFBF;
  font-size: 16px;
  border-radius: 15px;
  padding-left: 17px;
  margin-bottom: 30px;
}

.side-tour-search .input-search button {
  background-color: transparent;
  color: #7BAEBE;
  font-size: 20px;
  position: absolute;
  top: 17px;
  left: 256px;
}

.side-tour-search .text-blue {
  font-size: 22px;
  margin-bottom: 8px;
}

.side-tour-search .card {
  width: 294px;
  height: 545px;
  padding: 20px 17px;
  border-radius: 15px;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .side-tour-search .card {
    width: 700px;
    height: 279px;
  }
}

@media (max-width: 375px) {
  .side-tour-search .card {
    width: 345px;
    height: 306px;
  }
}

@media (max-width: 768px) {
  .side-tour-search .card .search-title {
    display: none;
  }
}

.side-tour-search .card .category-title {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #CCD7DB;
}

.side-tour-search .card .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.side-tour-search .card .category label {
  width: 100%;
}

@media (max-width: 768px) {
  .side-tour-search .card .category label {
    width: 20%;
  }
}

@media (max-width: 375px) {
  .side-tour-search .card .category label {
    width: 33.3333%;
  }
}

.side-tour-search .card .category input {
  opacity: 0;
  width: 1px;
  height: 22px;
}

.side-tour-search .card .category div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #D1D1D1;
}

.side-tour-search .card .category .checked {
  position: relative;
}

.side-tour-search .card .category .checked:after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #7BAEBE;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.side-tour-search .card .tour-search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-tour-search .card .tour-search-btn button {
  margin: 19px 0 0;
}

@media (max-width: 768px) {
  .main-tour-list {
    width: 100%;
    height: 100%;
  }
}

.main-tour-list .search-result-title {
  color: #7BAEBE;
  font-size: 24px;
  margin-bottom: 41px;
}

.main-tour-list .card {
  background-color: #FFFFFF;
  color: #707070;
  font-size: 16px;
  border-radius: 15px;
  width: 826px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
  position: relative;
}

@media (max-width: 768px) {
  .main-tour-list .card {
    width: 700px;
    height: 240px;
  }
}

@media (max-width: 375px) {
  .main-tour-list .card {
    width: 345px;
    height: 133px;
  }
}

.main-tour-list .card-image img {
  width: 342px;
  height: 240px;
  border-radius: 15px 0 0 15px;
}

@media (max-width: 375px) {
  .main-tour-list .card-image img {
    width: 173px;
    height: 133px;
  }
}

.main-tour-list .card-body {
  width: 484px;
  padding: 18px;
}

.main-tour-list .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 375px) {
  .main-tour-list .card-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main-tour-list .card-title p:first-child {
  color: #7BAEBE;
  font-size: 22px;
  width: 70%;
}

@media (max-width: 375px) {
  .main-tour-list .card-title p:first-child {
    font-size: 16px;
    width: 100%;
    margin-top: 8px;
  }
}

.main-tour-list .card-title p:last-child {
  background-color: #E8CB89;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 15px;
  padding: 5px 10px;
}

.main-tour-list .card-text {
  line-height: 1.5;
  height: 94px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /*省略第n行後的文字*/
  -webkit-box-orient: vertical;
  /*設定元素是垂直布局*/
}

@media (max-width: 375px) {
  .main-tour-list .card-text {
    display: none;
  }
}

.main-tour-list .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 19px;
}

.main-tour-list .card-info img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.main-tour-list .card-info span {
  margin-right: 24px;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-tour-list .card-info .touch {
  position: absolute;
  right: 18px;
}

.pageNavbar {
  margin: 158px 0 65px;
}

.tourist-detail-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .tourist-detail-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.tourist-detail-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
}

.tourist-detail-title h1 {
  font-size: 24px;
  margin-right: 24px;
}

.tourist-detail-title span {
  background-color: #E8CB89;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 15px;
  padding: 5px 10px;
}

.tourist-detail-info {
  width: 295px;
  padding-left: 32px;
  padding-bottom: 138px;
  position: relative;
}

.tourist-detail-info::before, .tourist-detail-info::after {
  content: '';
  position: absolute;
  background: #7BAEBE;
}

.tourist-detail-info::before {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 0;
}

.tourist-detail-info::after {
  width: 1px;
  height: 100%;
  top: 0px;
  left: 8px;
}

.tourist-detail-info li {
  margin-bottom: 42px;
}

.tourist-detail-info img {
  margin-right: 24px;
}

.tourist-detail-info span {
  letter-spacing: 1.12px;
  line-height: 1.3;
}

.tourist-detail-image {
  width: 671px;
  height: 473px;
  background-image: url("../assets/image/hotel-header.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .tourist-detail-image {
    width: 671px;
    height: 473px;
  }
}

@media (max-width: 375px) {
  .tourist-detail-image {
    width: 345px;
    height: 244px;
  }
}

.tourist-detail-introduce {
  padding-left: 32px;
  position: relative;
}

.tourist-detail-introduce::before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #7BAEBE;
}

.tourist-detail-text {
  line-height: 1.3;
  letter-spacing: 1.12px;
  padding-left: 32px;
  margin-bottom: 56px;
}

.tourist-detail-more-title {
  color: #7BAEBE;
  margin: 29px 0 45px;
  font-size: 20px;
  text-align: center;
}

.tourist-detail-more-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 320px;
  margin: 0 auto 60px;
  overflow: scroll;
}

@media (max-width: 768px) {
  .tourist-detail-more-card {
    width: 668px;
    height: 320px;
  }
}

@media (max-width: 375px) {
  .tourist-detail-more-card {
    width: 308px;
    height: 305px;
  }
}

.tourist-detail-more-card li {
  width: 215px;
  height: 285px;
  border-radius: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 10.5px;
}

.tourist-detail-more-card-img {
  width: 215px;
  height: 197px;
}

.tourist-detail-more-card-body {
  padding: 12px 12px 19px;
}

.tourist-detail-more-card-body h3 {
  color: #7BAEBE;
  font-size: 18px;
}

.tourist-detail h2 {
  font-size: 18px;
  margin-bottom: 35px;
}
/*# sourceMappingURL=app.css.map */